<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Add Product Details</h1>
<form method="post" action ="saveProduct" enctype="multipart/form-data">
<fieldset>
<legend> Add Product</legend><br/>
Product Name: <input type="text" name="product_name" id="product_name"/><br/><br/>
Description: <input type="text" name="product_description" id="product_description"/><br/><br/>
Price: <input type="number" name="product_price" id="product_price"/><br/><br/>
AddedBy: <input type="text" name="product_addedBy" id="category_name"/><br/><br/>
Added date: <input type="date" name="product_addedDate" id="category_name"/><br/><br/>
<h3>Select Category</h3>
<select name="category">

<option th:each="category: ${category}" th:text="${category.category_name}" th:value="${category.category_id}"/>

</select>

<input type="submit" value="Add Product"/>
</fieldset>
</form>
<h1 th:text="${added}"></h1>
<br/><br/>
<Button onclick="location.href='adminHome'">Go to Admin Home</Button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</body>
</html>
