<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form method="post" action ="auth">
<fieldset>
<legend>Customer Login</legend><br/>
Username: <input type="text" name="username" id="username"/><br/><br/>
Password: <input type="text" name="password" id="password"/><br/><br/>
<input type="submit" value="Submit"/>
</fieldset>
</form>
<form method="post" action ="adminAuth">
<fieldset>
<legend>Admin Login</legend><br/>
Admin Username: <input type="text" name="username" id="username"/><br/><br/>
Admin Password: <input type="text" name="password" id="password"/><br/><br/>
<input type="submit" value="Submit"/>
</fieldset>
</form>
<br/><br/>
<h3>if new user please SignUp</h3>
<Button onclick="location.href='signUp'">SignUp</Button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</body>
</html>
