<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New User Registration</title>
</head>
<body>
<form method="post" action ="addUser">
<fieldset>
<legend>Please Register Details</legend><br/>
Username: <input type="text" name="username" id="username"/><br/><br/>
Password: <input type="text" name="password" id="password"/><br/><br/>
E-mail: <input type="text" name="email" id="email"/><br/><br/>
Status(active/inactive): <input type="text" name="user_status" id="user_status"/><br/><br/>
Date of Creation<input type="date" name="user_createdDate" id="user_createdDate"/><br/><br/>
Security Question: <input type="text" name="securityQuestion" id="securityQuestion"/><br/><br/>
Security Answer: <input type="text" name="securityAnswer" id="securityAnswer"/><br/><br/>
Phone Number: <input type="number" name="phone" id="phone"/><br/><br/>
<input type="submit" value="Register"/>
</fieldset>
</form>
</body>
</html>
