<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Reset Your Password</h1>
<form method="post" action ="resetPasswordSubmit">
<fieldset>
<legend>Enter Currently Used Username</legend><br/>
Current Username: <input type="text" name="username" id="username"/><br/><br/>
New Password : <input type="text" name="password" id="password"/><br/><br/>
<input type="submit" value="Reset Password"/>
</fieldset>
</form>
<br/><br/>
<Button onclick="location.href='adminHome'">Go to Admin Home</Button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</body>
</html>